*.swp
.DS_Store
*credentials*
fish/functions/install_gj.fish
fish/functions/startDevEnv.fish
fish/functions/test_php.fish
fish/.dy_config.fish
bin/exp_report.sh
unify/
bin/s3_partitions_rm.sh
bin/reset_section.sh
